{
  "extends": "airbnb",
  "plugins": [
    "react"
  ],
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  },
  "parserOptions": {
    "emacVersion": 6,
    "sourceType": "module",
    "emacFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "no-console": 2,
    "comma-dangle": "off",
    "func-names": "off",
    "consistent-return": "off",
    "strict": ["error", "global"],
    "indent": ["error", 2],
    "semi": ["error", "always"],
    "no-unused-expressions": ["error",
      {
        "allowShortCircuit": true
      }
    ],
    "react/no-unused-state": "off",
    "jsx-a11y/no-autofocus": "off",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "function-paren-newline": ["error", "consistent"],
    "no-param-reassign":["error", { "props": false }],
    "jsx-a11y/label-has-associated-control": [ "error", {
      "required": {
        "some": [ "nesting", "id"  ]
      }
      }],
    "jsx-a11y/label-has-for": [ "error", {
      "required": {
      "some": [ "nesting", "id"  ]
        }
      }],
    "import/no-named-as-default": 0
  }
}
