.top-level {
  display: inline-flex;
  width: 100%;
  margin-bottom: 25px;
  .login-label {
    color: #a3a3a3;
    width: 35%;
  }
  .login-switch {
    color: #a3a3a3;
    width: 29%;
  }
  .email-label {
    color: #a3a3a3;
    padding-left: 4%;
    width: 20%;
    border-bottom: 2px solid #424242;
    cursor: pointer;
    padding-bottom: 5px;
    outline: none;
    &--active {
      color: #faf33e;
      padding-left: 4%;
      width: 20%;
      border-bottom: 2px solid #faf33e;
      padding-bottom: 5px;
      outline: none;
    }
  }

  .switch-email-label {
    color: #a3a3a3;
    padding-left: 4%;
    padding-right: 3%;
    padding-bottom: 5px;
    border-bottom: 2px solid #424242;
    cursor: pointer;
    &--active {
      color: #faf33e;
      padding-left: 4%;
      padding-right: 3%;
      padding-bottom: 5px;
      border-bottom: 2px solid #faf33e;
      cursor: pointer;
    }
    &--active:focus {
      outline: none;
    }
  }

  .separator {
    width: 20%;
  }
  .separator-switch {
    width: 20px;
  }

  .phone-label {
    color: #a3a3a3;
    border-bottom: 2px solid #424242;
    padding-left: 6%;
    width: 40%;
    cursor: pointer;
    padding-bottom: 5px;
    outline: none;
    &--active {
      color: #faf33e;
      padding-left: 6%;
      width: 40%;
      border-bottom: 2px solid #faf33e;
      padding-bottom: 5px;
      outline: none;
    }
  }

  .switch-phone-label {
    color: #a3a3a3;
    border-bottom: 2px solid #424242;
    padding-left: 3%;
    padding-right: 3%;
    cursor: pointer;
    &--active {
      color: #faf33e;
      border-bottom: 2px solid #faf33e;
      padding-left: 3%;
      padding-right: 3%;
      cursor: pointer;
    }
    &--active:focus {
      outline: none;
    }
  }
}

.input-fields {
  input[name="email"],
  input[name="password"] {
    color: white !important;
    padding-left: 10px !important;
  }

  input[name="phone"] {
    color: white !important;
  }
}
.MuiInput-underline-29:hover:not(.MuiInput-disabled-28):not(.MuiInput-focused-27):not(.MuiInput-error-30):before,
.MuiInput-underline-29:before {
  border-bottom: unset !important;
}
