.container {
  display: grid;
  margin: 0 auto;
  margin-top: 3%;
  background-color: #ffffff;
  width: 70%;
  margin-bottom: 4%;
  .file-item {
    margin: 0 auto;
    margin-top: 3%;
    .file-text {
      font-size: 1.17em;
      font-weight: lighter;
      color: #939393;
      .file-name {
        font-weight: bold;
        color: #424242;
      }
    }
    .file-span {
      font-size: 0.85em;
      font-weight: lighter;
      color: #939393;
      margin-left: 1%;
    }
  }
}
